/*some style*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.container {
    display:flex;

    flex-direction: row;
    justify-content: space-between;
}
.container div{
    padding:20px;
    flex-basis:30%;
}
.container .child1{
    background:#f1c40f;
   order:3;
}
.container .child2{
    background:#ff6430;
    order:3;
}

.container .child3{
    background:#0ff113;
    order:2;
}
.container .child4{
    background: rgb(248, 56, 187);
    order:1;
}