*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    display: flex;
}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.card img{
    height: 100px;
    width: 150px;
}